.menu a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  padding: 15px;
}

.menu i {
  margin-right: 10px;
}

.menu a:hover {
  background: linear-gradient(135deg, #750bb3 0%, #be32da 100%);
}

@media (max-width: 768px) {
  .menu a {
    display: inline;
    padding: 10px;
    margin: 0px;
  }
}
